*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

# IDEA
*.iml
/.idea
!/.idea/runConfigurations

# Gradle
.gradle
build
/reports

# Gradle Android
/local.properties
/captures

# Node
node_modules
package-lock.json

# OSX
.DS_Store
